body{
    background-color:#f7eeee
}
h1 {
    color: red;
    font-family: arial,helvetica,sans-serif;
    font-size: 60px;
    text-align: center;
}

h2{
    font-family: arial,helvetica,sans-serif;
font-size: 48px;
    font-style: italic;
}

h3{
    font-family: arial,helvetica,sans-serif;
font-size: 28px;
text-transform: uppercase;
background-color: 


}

p{
text-indent: 58px;
font-size: 28px;
text-align: left;



}